p {
    color: #B200B9; /* Texto Púrpura*/
} /*Selector etiqueta */

.fondo {
    background-color: #B200B9; /* Fondo Púrpura */
} /* Selector Clase */

#centrar-texto {
    text-align: center;
}/* Selector Identificador */

* {
    font-style: italic;
}/* Selector Universal */

p span{
    background-color: #000000; /* Fondo Negro */
    color: #ffffff; /* Texto Blanco */
} /* Selector Descendiente */

h3, small {
    color: #07DACE; /* Texto Azul */
    background-color: #979797 /* Fondo Gris */
} /* Combinación de Selectores */

div>span {
    color: #000000; /* Texto Negro */
    background-color: #B200B9; /* Fondo Púrpura */
} /* Selector de Hijos */

a:active {
    background-color: #0c00ff; /* Color Azul */
} /* Efecto al pulsar sobre la etiqueta a */    

a:link {
    color: #f00; /* Color Rojo */
} /* Cambiar el color del enlace cuando no se ha ingresado al mismo */

a:visited {
    color: #505050; /* Color Gris */
} /* Cambiar el color del enlace luego de que ya ha sido visitado */

a:hover {
    color: #00ff06; /* Color Verde */
} /* Efecto al pasar el cursor del mouse sobre la eiqueta a */

#p1::before{
    content: 'A - CONTENIDO ANTES DEL PÁRRAFO - ';
    color:#f00; /* Color Rojo */
} /* Cambios antes del selector */

#p1::after {
    content: '- CONTENIDO DESPUÉS DEL PÁRRAFO - ';
    color: #00ff06; /* Color Verde */
} /* Cambios después del selector */

#p1:first-letter {
    color: #000000;
} /* Cambios en la primera letra del contenido del selector. */

#p1:first-line {
    color: #0c00ff;
} /* Cambios en la primera línea del selector */

#p1::selection {
    color: #ffffff;
    background-color: #8d00b6;
} /* Cambios en la selección hecha en el selector */